<%@ MasterClass="Application.layouts.MainLayout" %>

	
	<com:TContent ID="PageClass">
    <div id="wrapper" class="home inner-pages">
</com:TContent>


<com:TContent ID="NavSection">
    <%include Application.layouts.GuestMainNavBar%>
</com:TContent>

<com:TContent ID="PageContent">

    <div class="container terms-and-conditions">
            	<div class="row">
                	<div class="col-md-12">
                    	<h1 class="text-center">
                        INDEMNITY POLICY OF GREENWICH SECURITIES LIMITED (“GSL”)
                        </h1>
                        <h3>Introduction</h3>
                        <p>
                        This Indemnity Policy sets out the applicable warranties and indemnities in relation to provision of brokerage and online trading services (“Services”) via the Website. GSL’s Indemnity Policy is expressly incorporated by reference into and should read together with the Terms of Service (“Terms and Conditions”) which explains the data processing practices of GSL in so far as it relates to the Website.
                        </p>
                        <p>
                        All capitalized terms used herein shall have the meaning ascribed to it in the Terms and Conditions.
                        </p>
                        <p>
                        The term “You”/ “Your” shall include yourself, your end customer, successors-in-title and assigns
                        </p>
                        <h3>Applicable Law</h3>
                        <p>
                        This Website is created, hosted, maintained and controlled in the Federal Republic of Nigeria, thus the laws of the Federal Republic of Nigeria and the jurisdiction of the Nigerian courts govern this Indemnity Policy.
                        </p>
                        <h3>Warranties</h3>
                        <p>By use of Website, You hereby agree to and accept the following terms:</p>
                        <ol class="roman-numeral-list">
                        	<li>
                            	GSL shall perform the Services with due care and skill of a diligent supplier of similar services in accordance with applicable and usual industry standards. ;
                            </li>
                            <li>
                            	Your use of the Website is on an “as is” and “as available” basis and, to the maximum extent permissible by law, GSL specifically excludes warranties and conditions of all kinds, either express or implied;
                            </li>
                            <li>
                            	GSL does not guarantee that the Services will be available at all times and GSL will not be responsible or liable for any loss whatsoever or howsoever arising as a consequence of any non-availability of the Services;
                            </li>
                            <li>
                            	The Services are not fault free and factors including (but not limited to) acts of God, geographical topography, weather conditions, planned maintenance or rectification work on your Network Service Provider’s system may interfere adversely with the quality and provision of the Services;
                            </li>
                            <li>
                            	The confidentiality of your communications is not guaranteed. You are advised that for reasons beyond our control, there is a risk that your communications may be unlawfully intercepted or accessed by those other than the intended recipient. We cannot accept any liability for any loss, injury or damage whether direct or consequential arising out of any such compromise of confidentiality;
                            </li>
                            <li>
                            	GSL shall have no liability to you in contract, tort or otherwise, for any indirect or consequential losses, damages, costs, charges, expenses or otherwise, loss of business opportunity, loss of revenue, profit or anticipated profit which you suffer or incur, arising out of or in connection with the provision of or subscribing for the Services or use of the Services whether or not GSL was advised of the possibility of such damages, and/or someone has informed of a problem with the Services or its content;
                            </li>
                            <li>
                            	You agree and acknowledge that GSL shall not be liable for any loss or damage whether direct or indirect:
                            	<ul class="bullet-list">
                                	<li>
                                    	arising from any Transactions not conducted through the System and the use of channels not provided by us to access the Services;
                                    </li>
                                    <li>
                                    	suffered by you arising from the unlawful interception, corruption, delay, non-delivery or mis-delivery of any information provided through the Website;
                                    </li>
                                    <li>	suffered by you arising from the breach of your security profile.</li>
                                </ul>
                            </li>
                            <li>
                            	By using the Service, you accept at your own risk that the Internet may not perform as intended despite the best efforts of GSL or any Internet service providers.
                            </li>
                        </ol>
                        <h3>Indemnity</h3>
                        <ol class="roman-numeral-list">
                        	<li>
                            	Subject to limitation of liability above, in the Terms and Conditions and/or any other product or service agreement, GSL hereby undertakes and agrees to indemnify you and hold you harmless and keep you, at all times, fully indemnified and held harmless from and against all actions, proceedings, claims, liabilities (including statutory liability), penalties, demands and costs (including, without limitation, legal costs) awards, damages, losses and/or expenses, however arising out of or in relation to or by reason of any breach by GSL of its obligations under the Terms and Conditions or any other product or service agreement with GSL.
                            </li>
                            <li>
                            	You hereby undertake and agree to indemnify GSL and hold it harmless and keep it, at all times, fully indemnified and held harmless from and against all actions, proceedings, claims, liabilities (including statutory liability), penalties, demands and costs (including, without limitation, legal costs) awards, damages, losses and/or expenses, however arising directly or indirectly as a result of:
                            	<ul class="bullet-list">
                                	<li>Any contravention by you of, or failure to comply with, any Applicable Laws;</li>
                                    <li>
                                    	Any breach or non-performance by you of any of your warranties, covenants or obligations under the Terms and Conditions or any other product or service agreement with GSL;
                                    </li>
                                    <li>
                                    	Any claim or proceeding brought by any person against GSL, arising out of the use by you of the Services and/or the System;
                                    </li>
                                    <li>
                                    	any trading conducted by you through the Service.
                                    </li>
                                    <li>
                                    	any Order which are placed by you through Services and any and all actions taken using the System, regardless of whether such actions are taken by an you and or your end customer
                                    </li>
                                </ul>
                            </li>
                            <li>
                            	If any claim is made against either party for which indemnification is sought under this indemnity policy, the indemnified party shall promptly notify the indemnifying party and allow it sole control of the defence of the claim (provided always that the indemnifying party shall not settle or compromise the claim without the prior written consent of the indemnified party, such consent not to be unreasonably withheld or delayed).  The indemnified party shall not do anything which may prejudice the defence of the claim and shall provide all reasonable assistance required by the indemnifying party in defending the claim, at the indemnifying party’s cost and expense.
                            </li>
                            <li>
                            	The indemnity hereof shall remain in full force and effect notwithstanding the termination of any Agreement entered into between GSL and you.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
    <%include Application.layouts.GuestStepsToTrade%>
</com:TContent>
