<%@ MasterClass="Application.layouts.MainLayout" %>


	<com:TContent ID="NavSection">
	</com:TContent>


	<com:TContent ID="PageContent">
		<div class="main">
			<div class="container">
				<div class="row container-margin">
					<div class="col-md-12">
						<div class="main-content-page">
							<ul class="breadcrumb">
								<li><a href="index.php?Home">Home</a>
								<li><a href="index.php?page=guest.OpenAccount">Open Account</a>
								<li class="active">Terms and Condition</li>
							</ul>
							<h1>TERMS AND CONDITIONS</h1>
							<p>
								A-Trade (Pty) Ltd (Reg No 2015/234354/07) (A-Trade) is a private company registered in terms of the laws of the Republic of South Africa (“South Africa”).
								Investors should be aware of the laws and regulations which may apply to derivatives, investments, securities and/or instruments listed on an exchange in 
								South Africa (“instruments”), before contemplating investment in any such instruments. Investors should, notwithstanding the laws and regulations which 
								may apply in the jurisdiction where the instruments are traded and/or transacted, also be aware of the laws and regulations pertinent to their domicile or 
								jurisdiction when contemplating transactions in instrument referenced on this website (www.atrade.co.za). Securities referenced on this website may or may 
								not have been registered under the US Securities laws or any other laws pertaining to the investors domicile or jurisdiction.
							</p>
								
								<ol>
									<li>
										No information, documentation, opinion or the like expressed on this website constitutes an offer, inducement or invitation to make an offer, 
										to buy, sell or trade in any instruments. A-Trade has reasonably endeavored to ensure the accuracy of the information contained on this website,
										but cannot warrant or guarantee its timelines accuracy, completeness relevance or validity thereof. A-Trade expressly disclaims any warranties or claims of fitness for use of this website for advisory, investment purposes or investment service purposes by either the intended recipient or any other party.
									</li>
									<li>
										This website is prepared and intended for general viewing and is provided for general information purposes only.
									</li>
									<li>
										This website does not have regard to the specific investment objectives, financial situation and the particular needs of any specific person who
										may access this website.
									</li>
									<li>
										This website does not purport to offer investment advice and should not, under any circumstances whatsoever, be construed or interpreted as 
										investment advice. Investors should always consult their advisors and seek advice (including but not limited to legal, regulatory, taxation 
										and/or financial advice) regarding the appropriateness of investing in any instruments investment strategies discussed or recorded in this
										website and should understand that statements and expectations regarding future prospects may not be realized. A-Trade will not be liable for
										any, direct or indirect, use or application of this website or its contents for purpose of executing any investments or strategies.
									</li>
									<li>
										Investors should note that instruments are subject to several risks and any income or proceeds from such instruments, if any, may fluctuate and that each 
										instrument’s price or value may rise or fall depending on different factors and/or conditions. Accordingly, investors may ultimately realize less than 
										originally invested or may lose the entire amount invested. Past performance is not necessarily a guide to future performance. The behavior of currencies,
										economic conditions, political climates, market factors, exchange rates, cyclical conditions and other factors may affect the value, price or 
										income of the instruments mentioned on this website.
									</li>
									<li>
										The publication of this <b>client portal</b> does not imply the disclosure of all information and documentation that is available to A-Trade, nor should it be construed or interpreted 
										as such. Further information may be made available to an Investor on request, subject to the terms and conditions of such disclosure. The contents of this <b>client portal</b> is 
										subject to copyright and recipients should not reproduce, alter, amend, vary, publish, replicate or disseminate any content or findings of this <b>client portal</b>, without the prior 
										written permission of A-Trade.
									</li>
								</ol>
									
									<h3>CLIENT COMPLAINTS POLICY</h3>
									<h5>POLICY STATEMENT</h5>
									A-Trade is dedicated to ensuring that all complaints received are resolved as quickly as possible in a fair and equitable manner, in a manner which
									is consistent with applicable laws and regulations.
									
									<h5>HOW TO LODGE A COMPLAINT</h5>
									Please lodge any complaint, in writing, to A-Trade’s client service department – complaints@atrade.co.za. The complaint should contain all relevant information, including:
									
								<ul>
									<li>
										The client’s details and the policy, account and/or member numbers that relate to the complaint;
									</li>
									<li>
										Specific details about the nature of the complaint such as facts, dates and supporting documentation (i.e. letters, quotations, previous correspondence etc.), to enable A-Trade to deal with the complaint efficiently and fairly;
									</li>
									<li>
										Proof of any alleged losses or damages sustained;
									</li>
									<li>
										The proposed solution / remedial action which is, in the opinion of the investor, required to resolve the complaint.
									</li>
								</ul>
									
									<h5>COMPLAINTS RESOLUTION</h5>
										A-Trade shall acknowledge receipt of a complaint, in writing, as soon as may be reasonably possible after receiving such complaint. Where any 
										complaint received pertains to something out of A-Trade’s reasonable control (e.g. product information or investment performance), then A-Trade 
										shall, if applicable, forward the complaint to the product provider concerned and where possible endeavor to facilitate the resolution process. 
										A-Trade shall also investigate the complaint to ascertain whether the complaint can be resolved immediately.

									
								</ul>	
									<li>If the complaint can be resolved immediately, A-Trade shall endeavor to take the necessary action and advise the investor accordingly.</li>
									<li>If the complaint cannot be resolved immediately A-Trade shall, as soon as reasonably possible, send a written summary of the steps to be taken to resolve the matter and the expected date of resolution to the investor.</li>
									<li></li>
								</ul>
								<p>
								A-Trade shall investigate each complaint received, in writing, and shall, subject to having received all relevant information and information, endeavor to 
								revert with its findings within 3 (three) working days. In the event that the investor is not satisfied with  A-Trade’s findings or solution, then the investor
								may refer the complaint to vijay@atrade.co.za, Compliance Officer at A-Trade (Pty) Ltd who may amend, alter, vary or confirm the finding or solution and/or 
								impose an alternative recommendation, finding or solution. After the complaint has been referred to the compliance officer and the investor remains unsatisfied 
								with the outcome, then A-Trade will regard the complaint as being unsatisfactorily resolved. The investor may under such circumstances approach the office of the 
								Ombud for Financial Services Providers or take such other steps as may be advised by your legal representatives or advisors.
								</p>
								<h5>UNRESOLVED COMPLAINTS</h5>
									In instances where A-Trade has not been able to arrive at a resolution within 6 (six) weeks after an Investor has lodged a complaint, the matter may
									automatically be referred to the Ombudsman. Such a matter must be referred to the Ombudsman within a period of 6 (six) months. The Ombudsman will 
									not adjudicate in matters exceeding a value of R800 000.00 (Eight Hundred Thousand Rand).<br><br>
								
								<p>Contact the Ombudsman for Financial Services providers:<br>
								Physical Address:<br>
								Sussex Office Park, Ground Floor, Block B
								473 Lynnwood Road Cnr. Lynnwood Road & Sussex Ave
								Lynnwood
								0081<br>
								t: +27 12 762 5000 / +27 12 470 9080<br>
								f: +27 86 764 1422 / +27 12 348 3447<br>
								e: info@faisOmbudsman.co.za<br>
								Website: www.faisOmbudsman.co.za</p>
								
								<h5>CONFLICT OF INTEREST POLICY</h5>
								A-Trade is committed to avoiding and where this is not possible mitigating, any conflict of interest that may arise between itself, as a financial 
								services provider, and its clients when rendering any financial service. Where such a conflict of interest cannot be avoided the situation will be 
								explained to the effected client(s). A copy of the complete conflict of interest policy can be requested from vijay@atrade.co.za.
								
				</div>
				</div>
			</div>
		</div>
		</div>
	</com:TContent>
