@font-face {
    font-family: 'MuseoSans100';
    src: url('museosans-100.eot');
    src: url('museosans-100.eot') format('embedded-opentype'),
         url('museosans-100.woff') format('woff'),
         url('museosans-100.ttf') format('truetype'),
         url('museosans-100.svg#MuseoSans100') format('svg');
}
